{% extends "contest/base.html" %}
{% block content %}
<h1> {{competition.name}}</h1>
<div>
{{competition.contest.name}}
</div>
<h3>Score Board</h3>
<table>
    <tr>
  {% for item in results %}
    <td><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> </td>
  {% endfor %}
  </tr>
    <tr>
  {% for item in results %}
    <td>{{ item.max_score }}</td>
  {% endfor %}
  </tr>
  </table>
<h3>Participants</h3>
<p>
<ul>
  {% for item in participants %}
    <li><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> {{item.description}}</li>
  {% endfor %}
</ul>
</p>

<h3>Runs</h3>
<table>
  <tr>
    <td>Name</td>
    <td> Start</td>
    <td> Duration </td>
    <td> Points</td>
    <td> Comment</td>
  </tr>
  {% for item in runs %}
  <tr>
    <td>{{ item.team.name }}</td>
    <td>{{ item.start_time }}</td>
    <td>{{ item.duration }}</td>
    <td>{{ item.score }}</td>
    <td>{{ item.judge_comment }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
