<h1> Score Board {{competition.name}}</h1>
{{competition.contest.name}}

<h3>Participants<>
<p>
<ul>
  {% for item in participants %}
    <li>{{ item.name }}</li>
  {% endfor %}
</ul>
</p>

<p>
<ul>
  {% for item in results %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
</p>

<h3>Runs</h3>
<table>
  <tr>
    <td>Name</td>
    <td> Start</td>
    <td> End </td>
    <td> Points</td>
    <td> Comment</td>
  </tr>
  {% for item in runs %}
  <tr>
    <td>{{ item.team.name }}</td>
    <td>{{ item.start_time }}</td>
    <td>{{ item.end_time }}</td>
    <td>{{ item.score }}</td>
    <td>{{ item.judge_comment }}</td>
  </tr>
  {% endfor %}
</table>
