{% extends "contest/base.html" %}
{% block content %}
<h1> {{competition.name}}</h1>
{{competition.contest.name}}

<h3>Participants</h3>
<p>
<ul>
  {% for item in participants %}
    <li><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> {{item.description}}</li>
  {% endfor %}
</ul>
</p>
<h3>Score Board</h3>
<p>
<ul>
  {% for item in results %}
    <li>{{ item.name }} {{ item.max_score }}</li>
  {% endfor %}

</ul>
</p>

<h3>Runs</h3>
<table>
  <tr>
    <td>Name</td>
    <td> Start</td>
    <td> End </td>
    <td> Points</td>
    <td> Comment</td>
  </tr>
  {% for item in runs %}
  <tr>
    <td>{{ item.team.name }}</td>
    <td>{{ item.start_time }}</td>
    <td>{{ item.end_time }}</td>
    <td>{{ item.score }}</td>
    <td>{{ item.judge_comment }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
