{% extends "contest/base.html" %}
{% block content %}
<div>
{{contest.description}}
</div>
<div>
{{contest.rules}}
</div>
<ul>
{% for item in teams %}
<li><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> {{item.description}} 
    <p>
    {% if item.winner.all %} 
        Winner:
    {% endif %}
    {% for witem in item.winner.all %}
        {{witem.name}} {{witem.winner_points|floatformat:2}}
    {% empty %}
        no wins
    {% endfor %}
    </p>

</li>
{% endfor %}
</ul>
<table>
    <tr>
        <td>Competition name </td><td> Status</td><td> Winner</td> <td>Points</td> <td>Comment</td>
    </tr>
{% for item in competitions %}
<tr>
    <td><a href="{% url 'contest:competition_board' item.id  %}">{{ item.name }}</a> </td>
    <td> {{item.status}}</td>
    {% if item.winner %} 
    <td> {{item.winner.name}}</td><td> {{item.winner_points|floatformat:2}}</td><td> {{item.result_comment}} </td> 

    {% else %}
    <td> n/a  </td><td> </td><td>  </td> 
    {% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}
