{% extends "contest/base.html" %}
{% block content %}
<h2>{{contest.name}}</h2>
<div>
{{contest.description}}
</div>
<p>
<table>
    <tr>
        <td>Team/Competition</td>
        {% for competition in competitions %}
        <td>
            <a href="{% url 'contest:competition_board' competition.id  %}">{{ competition.name }}</a> 
            <br>{{competition.status}}
        </td>


        {% endfor %}
    </tr>
{% for line in over %}
<tr>
    <td><a href="{% url 'contest:contest_team' line.team.id  %}">{{ line.team.name }}</a></td>
  {% for item in line.results %}
  <td> {{ item.score }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</p>

{% endblock %}
