{% extends "contest/base.html" %}
{% block content %}

<h3>{{competition.name}}</h3>
<a href="{% url 'contest:frame_board' competition.id  %}"> View in frame</a>

<table>
    <tr>
  {% for item in results %}
    <td><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> </td>
  {% endfor %}
  </tr>
    <tr>
  {% for item in results %}
    <td>{{ item.max_score }}</td>
  {% endfor %}
  </tr>
</table>

<h3>Participants</h3>
<ul>
  {% for item in participants %}
    <li><a href="{% url 'contest:contest_team' item.id  %}">{{ item.name }}</a> {{item.description}}</li>
  {% endfor %}
</ul>

<h3>Runs</h3>
<a href="{% url 'contest:frame_runs' competition.id  %}"> View in frame</a>
{% include "contest/runs.html"  %}

{% endblock %}
