{% extends "contest/frame_base.html" %}
{% block content %}

<table>
    <tr>
        <td>Name </td><td> Status</td><td> Winner</td> <td>Points</td> <td>Comment</td>
    </tr>
{% for item in competitions %}
<tr>
    <td>{{ item.name }}</td>
    <td> {{item.status}}</td>
    {% if item.winner %} 
    <td> {{item.winner.name}}</td><td> {{item.winner_points|floatformat:2}}</td><td> {{item.result_comment}} </td> 

    {% else %}
    <td> n/a  </td><td> </td><td>  </td> 
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
